[2017-07-16 02:41] bessey opened #2 "[Discussion] Direction of rufo"
I am keen to discuss where rufo is heading, so I thought i'd start an issue on the topic.

Personally I am very excited about this project, and am keen to see its continued development. I'm a little tired of spending time in code reviews paying attention to formatting concerns, to me, this is solely the job of a formatter, and the more opinionated the better. I'd like my formatter to enforce rules

[2017-07-16 03:17] danielma commented on #2
In short, I feel very much the same. I want an opinionated formatter for the One True Format.

In fact, I have a block of time at work (August 7-18) where my goal is to be able to prsent a "prettier for Ruby" to my company by the end. I feel like rufo is in a solid place now, with line length support as the major required feature.

[2017-07-16 06:08] splattael commented on #2
+1 for opinionated formatter.

I love how [elm-format](https://github.com/avh4/elm-format) is not configurable at all.

As for "One True Format" in Ruby. We should not forget the "Seattle Style" (omitting parens where as much as possible). Introducing a single configuration option `seattle_style true` would work for me ;)

[2017-07-16 09:06] mjago commented on #2
I'm in :+1:. Actually I've been reading up on Prettier over the last couple of days since I'm not familiar with it and was sharing your thoughts. The take-up of Prettier seems to have been quite remarkable precisely because it makes the decisions for you (or the team).

It will also be much easier to get to a stable codebase this way (the remaining bugs that are known about relate to clashing styl

[2017-07-16 18:35] bessey commented on #2
Well I'm glad others are in agreement that there should be one true format, but yes, now we need to agree on what it is... Let me take a swing based on the current settings rufo has to offer...

align_assignments: **real** false (enforce NOT aligning, my view is the git noise this generates when adding new long variable names outweighs that gained from aesthetics).
align_case_when: no opinion (I'v

[2017-07-16 23:10] danielma commented on #2
@bessey thanks for writing this up. Overall, I agree with you. A few small exceptions:

I think this is one of the few settings that deserves to have an option. As @splattael mentioned, seattle style has enough mindshare in the community that's it would benefit `rufo` to support it. Personally, I say `parens_in_def :always`

Personally, I would say `:one`, and suggest the use of parens to hint at

[2017-07-17 01:08] bessey commented on #2
Hey Dan, for me all of your examples fall firmly in the "i don't mind as long as we all do the same thing" camp, so happy to go with your preferences as defaults there. Not sure what the fairest way is to decide on these things is, without users to survey. I wonder if there is existing open data to consult on this matter?

PS. The members of this org are all private so I have no idea which of you

[2017-07-17 20:33] splattael opened #3 "Introduce CHANGELOG.md?"
Hi,

I've just released [v0.1.0](https://rubygems.org/gems/rufo/versions/0.1.0) which basically reflects rufo's new home in gemspec. :sparkles:
This release is also the first release in the "post-@asterite era".

Speaking of the new era. I'd like to add a changelog which keeps track of notable changes in rufo.

Personally, I've used [Keep a Changelog](http://keepachangelog.com/en/1.0.0/) format in

[2017-07-18 21:45] luislavena commented on #3
Hello,

I've used Keep a Changelog approach in several projects, including internals ones, with great results. In Ruby land is quite common the `History.md` file which is a predecessor of `CHANGELOG.md` idea (not to compare with the GNU one).

Now the project has been solidified with release 0.1.0, looking forward for future changes.

Cheers!

[2017-07-19 02:06] masa-iwasaki opened #4 "Wrong indents for comments in the first line inside bare_assoc_hash"
Hi,

I found strange behavior of indents for comments. Here is a spec to reproduce.

[code]

And the result.

[code]

When I put braces around the hash, rufo formatted as expected.

[2017-07-19 08:33] lucerion commented on #4
Hi @masa-iwasaki,

Thank you for reporting! We are looking into.

[2017-07-19 17:46] martinos opened #5 "Deleted issues"
Last week I have created an issue about Ruby 2.1. I am wondering why it was deleted and not just closed. I think that the issue would have helped people to know on which version is supported by the gem.

[2017-07-19 17:52] danielma commented on #5
@martinos sorry about that. The original repo was deleted and so we had to transfer to a new organization. We have the code history, but we are missing github specific history (pull requests and issues). If you're willing to create the issue again, please do!

[2017-07-19 18:22] martinos commented on #5
Thanks, this clears things up. Maybe I could just change the README.md file
to tell what Ruby version is supported.

On Wed, Jul 19, 2017 at 1:52 PM, Daniel Ma <notifications@github.com> wrote:

[2017-07-19 18:31] mjago commented on #4
Thanks for reporting!

[2017-07-19 18:31] #4 closed

[2017-07-19 20:54] #5 closed

[2017-07-19 20:56] splattael commented on #5
@martinos Thanks for reporting! The README now lists all supported Ruby versions :)

[2017-07-19 21:30] mjago commented on #5
@splattael only works down to ruby 2.2.4 (as in running ALL the specs) I believe

[2017-07-20 06:19] splattael commented on #5
@mjago Oh, thanks for trying! :+1: I've updated the README.

[2017-07-22 22:06] bessey opened #6 "Crash in <<~ squiggly heredoc syntax"
Reproduce with:
[code]

Replace `~` with `-` and the formatter works fine

[code]

Delete one interpolation and the formatter works fine.

Interestingly, and almost certainly related,
[code]
gets formatted succesfully, but rufo wrongly removes whitespace inside the multiline string:
[code]

[2017-07-22 22:47] bessey commented on #6
Minimum case appears to be:
- a squiggly doc string
- with 2+ interpolations
- with at least one space before the last interpolation

[code]

[2017-07-22 23:15] bessey commented on #6
Well I had a mess around but got nowhere beyond reproducing with a minimal test case. My work is on [tilde-heredoc-interpolation-bug](https://github.com/ruby-formatter/rufo/tree/tilde-heredoc-interpolation-bug) if anyone wants to play around.

[2017-07-23 07:43] mjago commented on #6
Errors:
1. `assert_format "<<~EOF\n \#{1}\#{2}\nEOF"` >>
`Expected token on_int, not on_tstring_content at [[2, 1], :on_tstring_content, ""]`

2. `assert_format "<<~EOF\n\#{1} \#{2}\nEOF"`
`assert_format "<<~EOF\n\#{1} \#{2} \nEOF"` >>
`Expected token on_tstring_content, not on_embexpr_beg at [[2, 5], :on_embexpr_beg, "\#{"]`

[2017-07-24 04:23] bessey opened #7 "Heredoc argument fully inside method call outputs invalid Ruby"
If you format:
[code]

 you get

[code]
which is invalid, because EOF must be followed by no other characters. This doesn't happen if you start with

[code]

I added a couple tests that show this failure on [this branch](https://github.com/ruby-formatter/rufo/tree/heredoc-chaining-bug)

[2017-07-24 07:03] fukayatsu opened #8 "Wrong Indents for method after backslash?"
- Without `.rufo` file
- `rufo -v #=> rufo 0.1.0`

Given this code:

[code]

The formatter will change it to:

[code]

Is there any settings to avoid this behavior?

[2017-07-24 07:18] splattael commented on #8
@fukayatsu Interesting pattern. I wonder what's the reason behind this kind of formatting?

Your code could be written as:

[code]

Actually, I would prefer this type of formatting.

Any thoughts on this?

[2017-07-24 09:59] fukayatsu commented on #8
I agree.  I just wanted to align `def` and `end`.
I may rewrite my code like:

[code]

[2017-07-24 09:59] #8 closed

[2017-07-24 10:03] splattael commented on #8
@fukayatsu :+1:

[2017-08-07 16:06] danielma commented on #2
Status update for you guys: I have time this week and next at work to work on getting a ruby formatter into the wild, and I'm hoping to work on top of the existing `rufo` code base. So hopefully we'll have a flurry of activity for the next few weeks. My major goals are

- re-work tests to be more human readable
- remove a bunch of settings (as we described in this issue)
- implement line-length su

[2017-08-07 21:07] danielma opened #10 "Reformat tests"
I'd like to have tests in separate files, with an in-file delimiter to separate original and expected. Something like

[code]

[2017-08-08 09:06] mjago commented on #2
@danielma Just a quick point - that quote of me was actually a poor attempt at a Vim / Emacs joke, and I have since removed the comment. It certainly wasn't any suggestion that tabs would be a good thing - and personally I would fight any attempt to allow tabs in a "one size fits all" specification. Tabs are a relic from word-processor days and no sane presentation layer or coding standard permits

[2017-08-08 16:26] #10 closed

[2017-08-16 12:01] jgrau opened #18 "Exiting with a non-zero exit code breaks Neoformat"
Tools like neoformat treats non-zero exit codes as errors and will discard the returned text from rufo. I'm not sure what the best practice is but I would expect a tool (like rufo) to return zero if there was no errors (ie, the tool ran successfully).

[2017-08-16 19:38] danielma commented on #18
Thanks for opening an issue @jgrau

rufo has a special exit code for when code was changed. [This was introduced to improve editor integration](https://github.com/ruby-formatter/rufo/commit/068bf0b417f4b8a82c5b14f7d5858f5cdf42a713). The idea is that an editor can safely ignore rufo (not make any changes to the open buffer) if `rufo` exits with `0`, and the editor plugin only needs to apply changes

[2017-08-17 07:47] jgrau commented on #18
Thanks for the quick reply. I've opened an issue on `neoformat` :)

[2017-08-17 08:54] splattael commented on #18
Refs sbdchd/neoformat#110

[2017-09-14 08:53] splattael opened #20 "Unhandled node: kwrest_param at [[2, 12], :on_rparen, ")"]"
We have 2 test failures on ruby-head:
https://travis-ci.org/ruby-formatter/rufo/jobs/275214575

[code]

[2017-09-14 20:03] #7 closed

[2017-09-27 07:57] #20 closed

[2017-10-03 15:00] martinos opened #26 "Comma added at the end of a multiline hash in fonction call"
I noticed that if a pass a hash to a function and I put every key-value pair on its own line, the last key-value pair gets a comma appended to it.

[code]
In this case a comma is added after the `customer_id` value.

I think this is not the expected behaviour.

[2017-10-04 07:32] splattael commented on #26
Hi @martinos,

thanks for reporting. Can you share your rufo settings (in `~/.rufo`)?

A comma only gets appended if `trailing_commas` is set to `:always`.

Kind regards,
  Peter

[2017-10-04 14:00] martinos commented on #26
Sure, I should have already done that.

Here it is:
[code]
My rufo version:

[code]

[2017-10-04 14:11] martinos commented on #26
It's the first time that I look at the [spec](https://github.com/ruby-formatter/rufo/blob/master/spec/lib/rufo/formatter_source_specs/trailing_commas.rb.spec), I got my answer there.

[2017-10-04 14:40] splattael commented on #26
@martinos :+1:

There is already a [discussion](https://github.com/ruby-formatter/rufo/issues/2#issuecomment-315627976) to have only "One True Format". https://github.com/ruby-formatter/rufo/issues/2#issuecomment-315627976

Feel free to join the fun :sunglasses:

[2017-10-04 15:27] martinos commented on #2
I would say that I was very surprised there was a `trailing_commas`. I think that many rubyist don't even know that you can put a trailing comma at the end of an array or a hash.

I vote for no trailing comma since this what is use almost everywhere and also this is the Rubocop default.

I am wondering what is the reason allowing a trailing comma? Is it to clean the diffs, if so personally I think

[2017-10-06 05:39] bessey commented on #2
@martinos

Agreed, I was aware Ruby was capable of this, but I haven't written _Ruby_ code this way until I started using Rufo. To me the benefit is not purely diff reduction, but the follow-on effect: accurate `git blame`.

That said, I am easy on this, I see the benefit to having "normal" looking lists and maintaining the more common existing convention, and equally the benefits of improving my

[2017-10-06 10:49] martinos commented on #2
@bessey, I never thought about that. Personally I haven't use `git blame` for many years, just because of that kind of reason and also because you just see the current status of the file. I am a very big fan of `git log --patch`.  Once I launch it (in vim), I search for a string in the code that I am looking for. It is almost as fast and way more reliable and informative.

Thanks for taking time t

[2017-10-08 20:17] #26 closed

[2017-10-08 20:25] bessey commented on #3
I went for the Keep a Changelog approach, PR #27

[2017-10-10 06:01] #3 closed

[2017-10-12 19:12] gingermusketeer opened #32 "How should we handle invalid config?"
As raised by @bessey, see [here](https://github.com/ruby-formatter/rufo/pull/29#issuecomment-336033848), we should probably do something about invalid config that is defined in a `.rufo` file.

This will help users know that their config is actually doing something.

Some of the options include:
1. Exiting with an error and message
2. Formatting and printing a warning
3. Doing nothing
4. Adding a

[2017-10-13 06:46] splattael commented on #32
At this stage of rufo (pre `1.0`) I'd go with option 1 (early exit with error).

Later (after `1.0`), I imagine we could go with option 2.

IMHO, option 3 is out of question. It's too dangerous, I think.

Add `--check-config` is a good idea in any case ;)

Just my 2 cents.

[2017-10-13 08:34] mjago commented on #32
The way I see it users shouldn't be penalised by having an out-of-date config by giving them an error and no formatted output (which will happen since options are disappearing). Especially since the old config may well conform to the actual format anyway! I would rather see formatted output with a deprecation warning to stderr - and a quiet command line option to quieten the warning if IDE impleme

[2017-10-13 08:47] splattael commented on #32
@mjago

I got your point.

My Angst about warning users ("Your config is deprecated or contains deprecated values") is that no-one actually reads deprecation warnings. (myself included :fearful:)

As a user, I would be very surprised to see my code changed after upgrading `rufo` and not adjusting my current `rufo` config. I'd rather see an error saying "Your config is wrong but I do not touch your

[2017-10-13 09:11] mjago commented on #32
How about a config option ```fail_on_invalid_config :fail/:warn/:ignore``` which defaults to ```:warn```.

Once we stablise (1.0) perhaps it can default to ```:fail``` ?

[2017-10-13 11:48] lime commented on #32
Seeing as upgrading `rufo` might introduce any number of new formatting features and defaults, I wouldn't consider it too surprising that the code changes.

In fact, the closer we get to a zero config formatter, the more this is to be expected. You'll be trusting the tool to format your code the way it sees fit, as of the current version.

This is how I currently see `prettier` being used. Update

[2017-10-13 12:02] lime commented on #32
Speaking of 1.0, maybe the config file should be versioned..? In that case it would make sense to require a config update when bumping the major version, but keep working across minor changes.

That may not be a very good fit for `rufo` if the aim indeed is to get as close to zero-config as possible, so take it with a grain of salt. I just realized I've seen lots of projects introduce `version: 2`

[2017-10-13 15:49] mjago commented on #6
I fixed upto head but with head there is another issue which looks like another ripper bug:

[code]

[2017-10-13 22:34] mjago commented on #6
Head is fixed, but prior to 2.5 looks unfixable for squiggly heredocs having space between embedded expressions since the whitespace information is lost by Ripper (see issue https://bugs.ruby-lang.org/issues/13536). The crash is however fixed with #33.

[2017-10-14 02:02] bessey commented on #6
Is the ignored space thing actually a bug? Isn't that Ripper acknowledging that in squiggly syntax these are equivalent, because of the built in heredoc stripping:
[code]

[2017-10-14 02:43] bessey commented on #32
I'm with Emil, that's how prettier behaves and that's what I would expect
from Rufo too.

On Fri, 13 Oct 2017 at 05:03 Emil Sågfors <notifications@github.com> wrote:

[2017-10-14 07:43] mjago commented on #6
Sure the leading space is ignored but not the space between the embedded expressions.

[2017-10-15 13:53] gingermusketeer commented on #2
I have created a PR to change the config related to the trailing_comma behaviour. Let me know what you think https://github.com/ruby-formatter/rufo/pull/35.

[2017-10-15 21:06] mjago opened #36 "Alerting user to bad squiggly heredoc formatting on broken Ruby versions"
@gingermusketeer pointed out that we should probably notify users where they are likely to be affected by incorrect squiggly heredoc formatting due to a Ripper bug:

Perhaps we should raise an exception, warn or skip the file if there is a squiggly heredoc present and they are running an unpatched version of ruby?

Affected Ruby versions are 2.3.0, 2.3.1, 2.3.2, 2.3.3, 2.3.4, 2.4.0, 2.4.1

Should

[2017-10-15 22:22] gingermusketeer commented on #36
I think flagging the issue via a warning is a good approach. Also we should probably skip formatting the file.

[2017-10-15 23:34] bessey commented on #36
Agreed, warning to STDERR and pass through file as is to STDOUT seems like the right thing to do.

Alternatively we could drop support for earlier versions, but given how rare / easily worked around a heredoc string with multiple embedded expressions is, I prefer your proposition.

[2017-10-16 07:36] mjago commented on #6
Fixed with  8bab7a2  #33

[2017-10-16 07:36] #6 closed

[2017-10-16 07:50] mjago commented on #36
It would be feasible to skip the squiggly heredoc rather than the whole file (which would require reopening the original source file) but this is maybe too much trouble for a _fixed_ issue.

What about ```Warning: file(s) foo.rb, bar.rb have not been formatted due to a problem with Ruby version 3.2.4 - please update to Ruby 3.2.5 to fix your formatting! See https://github.com/ruby-formatter/wiki/R

[2017-10-16 17:54] mjago commented on #36
PR #37 aims to address this warning and avoid formatting files on Ruby versions where Ripper is broken.

[2017-10-17 09:16] mjago commented on #36
Closed with #37

[2017-10-17 09:16] #36 closed

[2017-10-19 06:56] bessey commented on #2
To summarise for new arrivals (and myself to be honest!), we are now down to just these 6 configurable settings on master. I've included my understanding of the current plan for each of them, based only on previous comments and merged PRs:

1. align_case_when: **Undecided**
2. align_chained_calls: **Undecided**
3. double_newline_inside_type: **Undecided**
4. parens_in_def: Remains, now defaults to

[2017-10-19 06:58] bessey commented on #2
I think its worth discussing 1, 2, 3, and 5 further, though I suggest we create an issue for each.

[2017-10-19 06:58] bessey opened #40 "Cut 0.2.0"
Everything in the 0.2.0 milestone is complete, any objections to cutting a new gem version? Did we want to resolve #32 first?

[2017-10-19 10:34] mjago commented on #40
We must remember to update the README, which is woefully out-of-date.
Also, fixes have just been applied to Ruby 2.5.0 to remove the remaining parsing oddness w.r.t squiggly heredocs, so I should modify for 2.5.0 to reflect that (we currently have workarounds). I don't think these changes will be backported to 2.3 and 2.4.

[2017-10-21 10:17] mjago opened #42 "Rufo spec viewer"
I've taken a look at generating a html-rendered output of our specs.
The result output is [here](https://htmlpreview.github.io/?https://github.com/ruby-formatter/rufo/blob/spec_viewer/spec/viewer/output.html).
The script is in the spec_viewer branch [here](https://github.com/ruby-formatter/rufo/blob/spec_viewer/spec/viewer/generate.rb).

Each pair of actual / expected code segments are scanned wit

[2017-10-23 08:37] splattael commented on #42
Wow, nice! :+1: I :heart: it!

I wonder if it's possible to browse the specs by "category" (per spec file or something)?

Currently, staring at all 741 specs at once is a bit overwhelming :astonished: :smile:

[2017-10-23 15:18] danielma commented on #42
Very cool! I think @splattael's suggestion about browsing by category would be great

[2017-10-24 08:28] mjago commented on #42
I agree with categorisation.

I'm also looking at how much test data is required to test each sample in each combination of settings (since we have much reduced settings now). Clearly most results are duplicates and can be simply tagged.

That would be a good regression test, and enable selecting any combination of settings within the viewer.

Maybe we should think of setting up a jekyll github si

[2017-10-26 21:09] mjago commented on #42
Regarding the viewer I've been working on modifying the test system to run all specs on all combinations of settings. This works by maintaining a compressed diff of all differences of the various combinations differing from the default settings. Those diffs also enable the viewer to view the specs with any combination of configuration.

![screen shot 2017-10-26 at 21 56 29](https://user-images.git

[2017-10-27 22:13] mjago opened #45 "Error parsing `for i, in [[1,2]]'"
Fails to parse:
[code]
Error is:
[code]
ref:  #44

[2017-10-29 22:36] lpil opened #48 "Crash when formatting heredoc"
Example code that produces the crash:
[code]
[code]

[2017-10-29 22:43] mjago commented on #48
@lpil There's a bug in Ruby in 2.3.0 (Ripper). A fix is backported to 2.3.5 and 2.4.2 so you will need to upgrade Ruby to one of those to use squiggly heredoc

[2017-10-29 22:47] mjago commented on #45
Fixed with #47

[2017-10-29 22:47] #45 closed

[2017-10-29 22:48] lpil commented on #48
I see. More motivation for us to get off this older Ruby version. Thanks :)

[2017-10-29 22:50] #48 closed

[2017-10-29 22:52] lpil opened #49 "Incorrect code rendered"
Input:
[code]

Output:

[code]

[2017-10-30 18:15] mjago commented on #18
@jgrau as of commit #43 you are now able to pass Rufo the -x flag to be returned 0 on success, non-zero on error.

[2017-10-30 18:16] mjago commented on #18
Closing as fixed with #43

[2017-10-30 18:16] #18 closed

[2017-10-31 16:30] mjago commented on #49
Fixed with #50 - Thanks for reporting!

[2017-10-31 16:30] #49 closed

[2017-10-31 16:38] lpil commented on #49
Thanks :)

[2017-11-01 08:42] mjago commented on #2
[code]

I wonder if we should harmonise the settings values a little, now that we have such a small subset remaining. For instance it would be nice if trailing_commas was `[true, false]` rather than `[:always, :never]`. And could dynamic settings become [:dynamic, :fixed], and described in the Settings page ?

This would leave us with three [true, false] settings and three [:dynamic, :fixed] setti

[2017-11-02 09:46] mjago commented on #42
I've taken a first stab at generating a static site displaying the examples, and potentially expanding to a Rufo web-site. It uses Jekyll and an MIT licensed theme (minimal-mistakes).
[You can see here](http://martynjago.co.uk/rufo-site/).

All examples are displayed with default settings, but also with any settings that affect that example as in [here](http://martynjago.co.uk/rufo-site/docs/trail

[2017-11-02 11:15] mjago commented on #42
Here are a couple of possible bugs (?) detected using the alternate settings viewing aspect:
### align_case_when
[code]
[code]
[code]

### spaces_around_binary
[code]
[code]
[code]

[2017-11-04 12:55] gingermusketeer commented on #32
This has been resolved in #41 :)

[2017-11-04 12:55] #32 closed

[2017-11-04 15:02] gingermusketeer opened #54 "Line length based code formatting"
Now that we have cleaned up the config significantly as part of #2 it might be a good time to start thinking about how we go about implementing line length based code formatting.

Both @danielma and I have had a go at implementing this. We both used the printing algorithm described by Philip Wadler in his paper "A prettier printer" which can be found [here](https://homepages.inf.ed.ac.uk/wadler/pa

[2017-11-04 15:03] gingermusketeer commented on #54
Here are my answers:
1. Yes 😄
2. Yes
3. Yes - As long as it is still usable for the first version and tuning is prioritised subsequently to improve performance.
4. Mostly Functional.
5. Collaborate on a branch on this repo to implement line length aware formatting for a subset of ruby code handled by the existing formatter.
  - This allows the approach to be used and potentially released from mast

[2017-11-05 22:09] danielma commented on #54
👏 thanks for writing this up!

First, my simple answers

\1. Yes
\3. Yes
\4. Whichever works better 🙂. I think you've done a better job of implementing the prettier paper than I did.

Second, my longer form answers

For **2**, I would say no. I think it's a nice idea in theory, but I don't think the extra effort is worth it. Ruby isn't a fast language, and heavily version dependent. A generic tool

[2017-11-07 09:04] gingermusketeer commented on #54
@danielma Thanks for the great input.

I didn't have your fork in mind particularly when talking about "Avoids long living branches that are given up on." was reflecting on my own changes in motivation for projects as time goes on.

RE your work to rewrite rufo. I wonder if I am being naive in that approach based on what you said above. That said I think it is still worth trying.

That is a very c

[2017-11-09 02:45] bessey commented on #54
I want to help! I don't have such company benefits, but I do have evenings and weekends :)

1. Definitely, I have no idea how to proceed if we don't follow this plan :p
2. I don't think so. We don't _commonly_ write CSS / JS / GraphQL in Ruby. Actually, I totally do write GraphQL in Ruby a lot haha, but anyway, I don't think the potential overhead this may bring is worth it for now. We can of cour

[2017-11-09 02:53] bessey commented on #40
The README PR is merged. Seems to me its OK to cut a release now. Not sure I have the credentials to do so though!

[2017-11-09 02:57] bessey commented on #42
This is brilliant! Definitely seems worth setting up a `rufo/rufo.github.io` and putting this in it.

[2017-11-10 21:55] mjago commented on #42
@bessey Thanks. I've set up a gh-pages branch so it can be seen at [https://ruby-formatter.github.io/rufo/](https://ruby-formatter.github.io/rufo/)

[2017-11-10 21:59] mjago commented on #40
I would say so too 👍 . There is a bug that can break code in the current release for one thing (fixed now). And the config checker is in place to warn of config changes, which has already been useful to me!

[2017-11-10 22:13] mjago commented on #54
I've still to get my head around `the prettier printer` so I can't comment on strategy, but I'll help where I can.
In terms of performance could line length awareness be configurable?

[2017-11-11 09:37] splattael commented on #42
@mjago Wow! This is so beautiful :heart_eyes:

This URL should definitely  go in the README :rocket:

[2017-11-11 09:42] splattael commented on #40
Sooo, release? Like now? :grin:

I'd take over!

BTW, https://rubygems.org/gems/rufo is missing some owners :smirk:
We should extend the list? WDYT?

[2017-11-11 09:54] splattael commented on #40
After :twisted_rightwards_arrows: merging #55 I can release `0.2.0`.

[2017-11-13 01:29] bessey commented on #40
I don't mind not having publish rights so long as someone cuts 0.2.0 now :P but I certainly wouldn't say _no_ to such rights either.

[2017-11-13 06:44] gingermusketeer commented on #40
:shipit:

[2017-11-13 08:00] splattael commented on #40
Version `0.2.0` released: https://rubygems.org/gems/rufo/versions/0.2.0 :tada:

[2017-11-13 08:00] #40 closed

[2017-11-13 13:14] mjago opened #59 "Extraneous semicolons from stacked inline class definitions"
```echo "class A end; class B end;class C end # comment" | rufo```
gives:
[code]

[2017-11-13 15:16] mjago commented on #59
The above code is a syntax error in v2.2.8. However the following
```echo "class A; end; class B; end;class C; end # comment" | rufo```
gives:
[code]

[2017-11-13 15:20] mjago commented on #42
Closing as specs now render to html  https://ruby-formatter.github.io/rufo/

[2017-11-13 15:20] #42 closed

[2017-11-14 12:21] gisikw opened #61 "Heredoc hash values have errant comma"
Hiya! Came across this issue when testing rufo's changes to a codebase. Rufo adds a trailing comma to hash args, which can break heredocs, as follows:

[code]

...gets transformed to
[code]

Which will yield the error:
[code]

In cases of heredocs, commas simply can't be placed without breaking the terminator.

[2017-11-14 12:34] gingermusketeer commented on #61
Thanks for reporting this. I think the expected behavior, with trailing commas enabled, would be:
[code]

I get a syntax error with:

[code]

Does that sound correct to you?

[2017-11-14 13:16] gisikw commented on #61
Yep, counterintuitive as it looks, that seems to work!

[2017-11-14 21:21] mjago commented on #59
Fixed with #60

[2017-11-14 21:21] #59 closed

[2017-11-18 15:40] emilebosch opened #63 "PLEASE KEEP GOING!"
I'm super happy with this work!

[2017-11-18 16:43] gingermusketeer commented on #63
Thanks for the feedback :)

[2017-11-23 09:45] #61 closed

[2018-01-12 07:15] anatol commented on #63
+1 Awesome work!

[2018-01-12 07:37] anatol opened #72 "`bug': Expected token on_ident, not on_words_sep at"
Hello,

I am trying to use `rufo` tool at Arch Linux to format [following file](https://git.archlinux.org/svntogit/community.git/plain/trunk/generate_build.rb?h=packages/android-tools) I get a `bug` error from the script:

[code]

[2018-01-18 18:38] anatol opened #73 "`bug': Expected token on_ident, not on_words_sep"
I am running `rufo` at Arch Linux for following simple ruby script

[code]

and rufo is panicking:
[code]

[2018-01-19 04:58] gurgeous commented on #2
I love this project and the direction that you are going with removing config! I might make one suggestion - when uncertain about a style decision, it would be interesting to consider what `prettier` does.

For example, prettier turns this:

[code]

into this:

[code]

(no trailing commas)

[2018-01-19 05:18] gurgeous opened #74 "quotes?"
One of my favorite features from `rubocop --auto-correct` and `prettier` is quote cleanup. They will happily turn all single quotes into double quotes (or vice versa depending on config). Is this something rufo can do? That would be a great feature.

This is a bit like the tabs vs. spaces debate, and having rufo enforce the rule would obviate the need for discussion.

[2018-01-25 03:36] bessey commented on #2
Thanks for the support :) time to ease back into maintenance after a nice Xmas break I think...

To your specific example, I don't think anyone envisioned `trailing_commas` applying to one liners, as the benefit of them is only really observed with things like reordering or appending to multiliners:

[code]

[2018-01-26 11:47] gingermusketeer commented on #74
@gurgeous This is definitely something that rufo should be doing I think. There is currently a new branch `new-formatter` that is quite a significant change so unsure where to recommend that you send a PR...

It would be great to get some thoughts on what you think the behaviour should be. For example:
- Does it need to be configurable? (Ideally rufo won't be too configurable)
  - If it should be

[2018-01-26 11:51] gingermusketeer commented on #72
It looks like this is coming from somewhere around here:
[code]

Line in particular looks to be, based on line number in exception, the line with `shell_service_protocol.cpp`

[2018-01-26 22:36] gurgeous commented on #74
Great! In terms of single vs. double, here are a few data points:

- negligible performance difference (https://www.viget.com/articles/just-use-double-quoted-ruby-strings/)
- most of the JS world has settled on single quotes
- rubocop picked single quotes, lots of drama
- prettier defaults to double quotes, but only for legacy reasons (https://github.com/prettier/prettier/issues/1105)

For a long

[2018-01-27 00:51] gurgeous commented on #74
This is sorta working in a branch. What do you think of this approach? The new quote tests will pass, though it obviously breaks a few others...

[code]

[2018-01-27 12:36] gingermusketeer commented on #74
Thanks for all the info :)

I personally like each quote style for different reasons.  Single quotes are nicer to type but double don't need to be changed for interpolating and make it easier to copy paste JSON etc.

I wonder if we can check which is the most common style on open source ruby projects. Be handy to know if add a lot of noise if a tool like this was added to a project.

The code samp

[2018-01-27 15:38] gurgeous commented on #74
Great, thanks for the feedback. I wrote a quick script to calculate single vs. double for some major open source projects. I used something like this to count strings - `rg --no-filename -c -g '*.rb' "'[^']*'"`. That regex isn't perfect but it ought to do for our purposes. Here are the results for some major gems:

[code]

A bit weighted toward double, though I think we'd be fine picking either de

[2018-01-27 17:24] gurgeous commented on #74
Can you take a look at this? It uses `:single` as the default, which will necessitate fixing some existing tests. Once we decide on the default I'll put together a proper PR. I have no preference...

https://github.com/gurgeous/rufo/commit/e3f12bfea3c381d1dcd735c6dd4a0f2d19125db9

[2018-01-27 23:07] gingermusketeer commented on #74
Looks like a pretty simple change :) Perhaps `requote_string(node)` should be `format_simple_string(node)`.

@mjago @splattael @bessey @danielma What are your thoughts on this?

[2018-01-28 08:56] splattael commented on #74
@gingermusketeer @gurgeous I like it :+1:

Personally, I'd prefer `:double` to be the default. But that's me :wink:

[2018-01-28 10:13] gurgeous commented on #74
Fine with me! I'll put a PR together...

[2018-01-28 12:59] hopsoft opened #77 "Multi-line word array literal"
Lexer chokes on multi-line word array literal.

Here's the code that triggers the error.

[code]

Here's the error.

[code]

[2018-01-28 13:12] hopsoft commented on #77
I just realized that this is a duplicate of #73

[2018-01-28 14:01] gingermusketeer commented on #77
@hopsoft Thanks triaging this :) Would you be able to submit a PR with a test? You can mark the tests as pending and then it can be fixed by someone. See #75 as an example.

[2018-01-31 12:48] Willianvdv opened #79 "new-formatter branch - Rufo::Bug: Expected token on_op, not on_ignored_nl at"
We found an interesting case while trying out the `new-formatter` branch.

Formatting a file with:
[code]
Results in:
[code]

What's really interesting, if you have a file with:
[code]

The result of the formatter will be:
[code]

I verified it is Ruby:
[code]

[2018-02-01 02:26] gingermusketeer commented on #79
Thanks for reporting this. Would you be able to submit a test for this case to the master branch so that we can be sure this does not make it into master?

You can see an example of a pr with tests for this here https://github.com/ruby-formatter/rufo/pull/75

[2018-02-03 10:53] Willianvdv commented on #79
@gingermusketeer added a spec in #80

[2018-02-10 00:17] gurgeous commented on #74
bump

[2018-02-15 23:07] BrianHawley commented on #74
By the way: If `:double` is the default (as it is at the time of the writing of this comment), it will make it easier for people to write code that will be easily convertible to Crystal. Crystal's strings are double-quoted, and single-quoted literals are characters. Consider this a vote in favor of `:double`.

[2018-02-16 21:07] #79 closed

[2018-03-01 08:59] ernsheong opened #82 "Syntax error when file contains foreign languages in strings"
When a string in a Ruby file contains "é" or any other non-Latin a-zA-Z character (foreign languages), the file fails syntax checking.

`Error: the given text is not a valid ruby program (it has syntax errors)`

[2018-03-01 23:41] hopsoft commented on #77
It appears that #68 may have resolved this problem.

[2018-03-02 03:32] ernsheong commented on #82
Also, `ruby -c ./file-name.rb` runs successfully on the target file, but generates error on rufo.

[2018-03-02 18:55] luislavena commented on #82
Can you provide more details on the version of Ruby and the platform used?

[code]

Cheers.

[2018-03-03 19:01] ivoanjo opened #83 "Alignment of method arguments?"
Hello there! First of all: thank you very much for Rufo! I hope it takes off like a Falcon rocket :rocket:

I was playing with it on one for my personal projects, and noticed that unlike the examples listed in the [aligning call parameters](https://github.com/ruby-formatter/rufo#unobtrusive-by-default) section of the README, the alignment on method **arguments** is not preserved.

### Example:

In

[2018-03-04 00:17] gingermusketeer commented on #83
Thanks for reporting this. Do you happen to know how this is commonly handled in the community?

I personally would do what you have done and suspect that would be the more common approach, but be good to get some data.

[2018-03-04 15:43] ivoanjo opened #84 "Bug: Expected token on_ivar, not on_tstring_end"
While looking into #83 I tried rufo on a number of repositories for commonly-used gems and came across a few issues.

This one comes from the [arel](https://github.com/rails/arel) gem.

Traceback:

[code]

File that triggers the issue: <https://raw.githubusercontent.com/rails/arel/eb3f968b5ffdd3b343e7d190f1aa0b36864f56a2/test/support/fake_record.rb>

[2018-03-04 15:46] ivoanjo opened #85 "Bug: Expected token on_comma, not on_words_sep"
While looking into #83 I tried rufo on a number of repositories for commonly-used gems and came across a few issues.

This one comes from the [arel](https://github.com/rails/arel) gem.

Traceback:

[code]

File that triggers the issue: <https://raw.githubusercontent.com/rails/arel/eb3f968b5ffdd3b343e7d190f1aa0b36864f56a2/test/test_insert_manager.rb>

[2018-03-04 16:03] ivoanjo opened #86 "Rufo keeps switching formatting on same file every time it runs"
While looking into #83 I tried rufo on a number of repositories for commonly-used gems and came across a few issues.

This one comes from the [dry-types](https://github.com/dry-rb/dry-types) gem.

The file `to_ast_spec.rb` link <https://raw.githubusercontent.com/dry-rb/dry-types/761bc00b24dc4d4a66fd4ef5a514e72b1558d5f7/spec/dry/types/to_ast_spec.rb> keeps getting switched back and forth between tw

[2018-03-04 16:18] ivoanjo opened #87 "Bug: formatter.rb:3700:in `block in adjust_other_alignments': undefined method `[]' for nil:NilClass (NoMethodError)"
While looking into #83 I tried rufo on a number of repositories for commonly-used gems and came across a few issues.

This one comes from the [i18n](https://github.com/svenfuchs/i18n) gem.

Traceback:

[code]

File that triggers the issue: <https://raw.githubusercontent.com/svenfuchs/i18n/ed3623f1a9a8eedd968ac5fd7040faccbb171547/lib/i18n/exceptions.rb>

[2018-03-04 16:29] ivoanjo opened #88 "Bug: Rufo breaks HEREDOC syntax"
While looking into #83 I tried rufo on a number of repositories for commonly-used gems and came across a few issues.

This one is a testcase extracted from the [pry](https://github.com/pry/pry) gem.

Example code:

[code]

which after running rufo turns into

[code]

which is now invalid:

[code]

[2018-03-05 06:52] ernsheong commented on #82
Thanks for the response. Here is the first part:

[code]

It is also failing in Gitlab CI, which is of a slightly different environment.

[2018-03-05 12:59] luislavena commented on #82
Hello @ernsheong, I was unable to reproduce:

[code]

[code]

Does your file works correctly when executed via Ruby?

[code]

[2018-03-05 16:20] alem0lars opened #89 "Bug: Keyword arguments aren't supported"
Formatting the following file:

[code]

Gives the following error:

[code]

[2018-03-05 16:26] alem0lars commented on #89
I was using an old version of rufo, my bad xD

[2018-03-05 16:26] #89 closed

[2018-03-05 22:31] gingermusketeer commented on #83
@ivoanjo Wow that is amazing, thanks for the solid research.

I think I agree with your suggestion. The rationale being:
1. As you have shown not many codebase would be drastically affected.
2. The [new formatter](https://github.com/ruby-formatter/rufo/tree/new-formatter) will hopefully apply the same logic for arrays, hashes, method calls and method definitions.

[2018-03-05 22:32] gingermusketeer commented on #74
@splattael Any update on the release for this?

[2018-03-05 22:39] gingermusketeer commented on #85
It looks like this issue has been resolved on master. Hopefully we can get a release out soon.

[2018-03-05 22:48] gingermusketeer commented on #87
Thanks for reporting this. I have a failing test on a branch for this issue https://github.com/ruby-formatter/rufo/compare/chore/fix-i18n-gem-formatting?expand=1

[2018-03-05 22:52] gingermusketeer commented on #88
Thanks for reporting this ❤️. I have a failing test for this issue here https://github.com/ruby-formatter/rufo/compare/chore/fix-heredoc-issue

[2018-03-06 02:03] ernsheong commented on #82
This is quite odd. From the command line on my Mac, everything passes just fine as above.

But in the VS Code plugin and in Gitlab CI, it complains:
![image](https://user-images.githubusercontent.com/1343284/37010212-753767fc-2125-11e8-88da-27f6e6d65cc9.png)

Error disappears when I comment out the line:
![image](https://user-images.githubusercontent.com/1343284/37010224-82238e78-2125-11e8-9d56-b1

[2018-03-06 13:03] luislavena commented on #82
@ernsheong I'm still unable to reproduce:

[code]

[code]

Maybe VS Code is pointing/using a different version of Ruby than the one you have accessible via the terminal. Same could apply to GitLab CI, right now you haven't provided us the output received on GitLab CI, so we don't know.

Will be great if you can produce a small repository that reproduces the issue and point us to investigate. The m

[2018-03-06 13:06] ernsheong commented on #82
Thanks for the effort. I will reopen once I figure out a way to reproduce this reliably...

[2018-03-06 13:06] #82 closed

[2018-03-24 17:53] jrochkind opened #90 "alignment agnosticism"
This is a great project, thanks. I like that it tries to respect some alignment choices agnostically, [Unobtrusive by default](https://github.com/ruby-formatter/rufo#unobtrusive-by-default).

Trying it out on my code, here is one choice where it doesn't:

[code]

This seems reasonable to me, but rufo insists on:

[code]

thoughts? Maybe I'm wrong that this is reasonable!

[2018-03-24 22:05] gurgeous commented on #90
For what it's worth, I agree with @jrochkind on this one. I have a ton of code like this (assignment with if, case, or begin). Though really I'm just happy to have auto-formatting of any kind :)

[2018-03-27 07:19] bonty opened #93 "Tilde heredocs with trailing comma has indent problem"
I found indent problem while using tilde heredocs inside of hash.

Example:

[code]

Result:

[code]

[2018-03-28 09:48] gingermusketeer commented on #74
This has been released as part of the 0.3.0 release. Thanks for the PR!

[2018-03-28 09:48] #74 closed

[2018-03-28 19:30] gnapse commented on #2
I just want to say I just found this project and I love it. I think I finally found my prettier-for-ruby. I love the "minimum configurable stuff" mindset that I see here.

Just one question though (perhaps a topic for a separate issue so not to pollute this one but I'm also hesitant of opening yet another issue): why not integrate this project with prettier itself? There's a very young effort of a

[2018-03-28 21:05] gnapse opened #94 "Trailing dot in chained method calls"
I've got rufo 0.3.0 with the following `.rufo` file

[code]

I ran it with this file as input:

[code]

And to my surprise, this is preserved. I would have expected that the `align_chained_calls` setting would replace the trailling dot notation for a leading dot notation.

Up until now I get it that that's not the case, and although it could be debatable, that may well be intentional so it's not a

[2018-04-09 19:55] jgrau opened #95 "quote_style config not being respected"
I upgraded to `0.3.0` today and of cause noticed the formatting of quotes. We decided to stick with single quotes so I added a `.rufo` file in the project root with the content

[code]

Yet `rufo` still formats with `"` everywhere.

Anything I am missing?

[2018-04-12 15:11] gingermusketeer commented on #95
@jgrau This has now been released in `0.3.1`. Thanks @gurgeous for the PR to sort this out!

[2018-04-22 17:41] wimo7083 opened #99 "Issues with quote_style"
# Bug Report
## What is the current behavior?
When I try and use vscode with rufo, or use rufo from the command line I cannot get single quotes to get converted to double quotes.

## What is the expected behavior?
Rufo will respect the .rufo config and turn double quotes into single quotes.

## What steps did you take to get this behavior?
I'm pretty new to ruby and rufo in general. I have a very

[2018-04-22 19:00] gurgeous commented on #99
Hi wimo, thanks for the great bug report! Can you check which version of rufo you are using? Rufo 0.3.0 had a bad bug (#95) which was quickly fixed in 0.3.1. The behavior you are reporting matches that bug.

The easiest way to check is to open a terminal in vscode (View > Integrated Terminal) and run `rufo -v` or `gem list rufo`.  If you are still on 0.3.0, try upgrading to 0.3.1. There are a few

[2018-04-23 01:11] wimo7083 commented on #99
That worked thanks for the help.

[2018-04-25 12:59] martinos opened #100 "BUG: rufo generates invalid ruby code"
I am using ruby 2.1.3 and rufo 0.3.1. when I try to format the following:

[code]
I get this broken ruby code
[code]

[2018-04-29 11:52] gingermusketeer commented on #100
@martinos Ruby 2.1 is no longer supported by the [ruby team as of March 2017](https://www.ruby-lang.org/en/news/2017/04/01/support-of-ruby-2-1-has-ended/).

Also rufo does not support versions of ruby below `2.2.4`. However `>= 2.3.5`  or `>= 2.4.2` are recommended due to bugs in the ruby parser for versions below those.

Perhaps we should do a better job of calling out the versions of ruby that a

[2018-04-29 11:52] gingermusketeer commented on #100
I tried to reproduce this issue on `2.4.2` and was unable to do so. I suspect that it is the version of ruby that is the issue here.

[2018-04-30 21:35] martinos commented on #100
I agree that putting to much effort on making Rufo work on ruby 2.1 is not really the best thing to do. However I wanted to report the issue just in case that someone hits the same problem.

[2018-05-01 15:05] gingermusketeer commented on #100
@martinos That is a great point. Would You mind having a look at #101. I think that would be the best approach so that we don't introduce errors to code like happened to you.

[2018-05-03 20:03] #99 closed

[2018-05-05 06:01] #100 closed

[2018-05-07 14:27] martinos commented on #90
What I do in case for the time being:

[code]
This is reasonable for me.

[2018-05-07 14:30] martinos opened #102 "Weird do block formatting on multiline method call chaining"
I notice that when I chain method calls and I add a do block at the end, the formatting gets weird.
[code]
I would have expected something like:

[code]

[2018-06-07 09:32] waghanza opened #103 "Double quotes ?"
Hi,

New to `rufo`, I can see that string surrounded by simple quotes are turned into double quotes surrounded ones ?

As I remembered, simple quotes string are less resource consuming if there is no interpolation in it, right ?

Regards,

[2018-06-10 14:46] glebm commented on #103
Also less mental overhead - if I see a single-quoted string I know it won't have any interpolations

[2018-06-11 04:52] waghanza commented on #103
no performance diffs ?

[2018-06-11 11:06] gangwang2 opened #104 "Expected token on_period, not on_words_sep"
You've found a bug!
Please report it to https://github.com/ruby-formatter/rufo/issues with code that triggers it

C:/tools/ruby25/lib/ruby/gems/2.5.0/gems/rufo-0.2.0/lib/rufo/formatter.rb:3429:in `bug': Expected token on_period, not on_words_sep at [[74, 35], :on_words_sep, " ", #<Ripper::Lexer::State: EXPR_BEG>] (Rufo::Bug)
	from C:/tools/ruby25/lib/ruby/gems/2.5.0/gems/rufo-0.2.0/lib/rufo/format

[2018-06-11 11:50] bessey commented on #103
I don't think this is clear cut, personally I use always double quotes
because:

1. Performance is completely irrelevant. There isn't a difference in
performance between "a string" and 'a string', but even if there were, how
a string is instantiated is a minuscule proportion of any programs runtime
and is not that right thing to be optimising. A better concern is avoiding
repeated string allocatio

[2018-06-11 12:46] #103 closed

[2018-06-25 11:44] gingermusketeer commented on #104
@gangwang2 would you also be able to try the most recent version of rufo?

[2018-06-28 15:00] jcronk opened #106 "0d0a is replaced with literal line break"
I have multiple situations where I need to check for exactly those two characters in order, or to consume those two characters because I need them.  When I reformat something with Rufo, this:

[code]

becomes

[code]

And that is *bad* because in this situation, for example, I'm checking for end of record in a line of data from an EBCDIC text file from a mainframe (yes, for some reason they almost

[2018-07-13 18:32] jcronk commented on #106
@gingermusketeer You know what, I was using it through the Vim plugin and it looks like the plugin is doing it.  If I just run `:%!rufo` I don't see the character being replaced.  Sorry about that!  I'll go over there an open an issue.

[2018-07-13 18:32] #106 closed

[2018-07-13 20:14] gingermusketeer commented on #106
No worries, thanks for letting me know :)

On Fri, 13 Jul 2018 at 12:32, Jeremy <notifications@github.com> wrote:

[2018-07-16 11:20] mjago commented on #72
Fixed in HEAD

[2018-07-16 11:20] #72 closed

[2018-07-16 11:20] #63 closed

[2018-07-16 11:21] mjago commented on #73
Fixed in HEAD

[2018-07-16 11:21] #73 closed

[2018-07-16 11:23] mjago commented on #77
Fixed in HEAD

[2018-07-16 11:23] #77 closed

[2018-07-16 11:28] mjago commented on #85
Fixed in HEAD

[2018-07-16 11:28] #85 closed

[2018-07-16 11:56] mjago commented on #86
Reduced:
[code]

[2018-07-17 08:10] SamSaffron opened #110 "rufo aligns HEREDOCs funny"
[code]

Is aligned:
[code]

Which is somewhat odd... it aligns as expected for `DB.exec(<<~SQL)`

[2018-07-20 07:08] mjago commented on #86
Fixed with #111

[2018-07-20 07:08] #86 closed

[2018-07-20 14:43] mjago commented on #87
Fixed with #112

[2018-07-20 14:43] #87 closed

[2018-07-27 06:19] mjago commented on #88
Fixed with #116

[2018-07-27 06:19] #88 closed

[2018-07-27 20:22] mjago commented on #104
Unfortunately it is not possible to reverse engineer the problem from the stack-trace. Closing until further info is forthcoming

[2018-07-27 20:22] #104 closed

[2018-08-22 21:25] cmatheson commented on #110
I have another example of unexpected heredoc formatting that I think is definitely not desired behavior:

[code]

becomes

[code]

(the `········` in this case is whitespace that rufo is introducing for whatever reason).

[2018-08-31 23:41] thefliik opened #119 "discussion: "aligning of arrays" (or other things)"
Trying out rufo in my project, I like it with one dealbreaking exception: the apparent forced "aligning of arrays" (or other things). I imagine this is something that has been discussed before, but I couldn't find a specific issue.

Rufo changes this code:
[code]
To this, which contains an unacceptable line length for me (it actually also removes the extra line breaks, but I've added them back in

[2018-08-31 23:43] thefliik commented on #119
Somewhat related: I heard about rufo from [this PR in graphql-ruby](https://github.com/rmosolgo/graphql-ruby/pull/1800), which also mentions the issue described here as a possible dealbreaker.

[2018-08-31 23:53] thefliik commented on #119
Oops! I found an existing issue for this #90

[2018-08-31 23:53] #119 closed

[2018-08-31 23:55] thefliik commented on #90
I agree with the OP. Just opened up this duplicate issue before realizing that this issue already addresses it. You can see some specific examples where the current formatting is a real problem (at least from my perspective) here: #119

Personally, I can't use rufo with the current enforcement.

[2018-09-04 14:13] rmosolgo commented on #90
I love rufo's approach, but won't continue with it because of this reason. In fact, I don't really care about indentation, but I found that it was indenting to places other than tab stops, so to add code, I couldn't simply `tab` over, instead, I had to occasionally add spaces to get _between_ the tabs. What I mean is:

[code]

Since the number of spaces before `abcd` and `else` is odd, my editor's

[2018-09-14 11:03] jscheid opened #120 "def Foo::bar"
[code]

[2018-09-17 21:50] BrianHawley commented on #2
@martinos I don't like matching the Rubocop defaults, as they made several bad choices in their defaults. However, I do agree that rufo should have a sample `.rubocop.yml` file that configures Rubocop to not undo any of the rufo changes. My main concern is having a set of default settings in my projects that will minimize the problems caused when other developers use Rubocop.

I know about the dif

[2018-09-17 22:38] BrianHawley commented on #2
It would be nice to have a `trailing_commas` setting (or unsettable default) which would not add trailing commas to keyword parameters in an argument list of a method call. It would be sufficient to not add a trailing comma in cases where the hash is not wrapped in `{` and `}`, or when the hash or array is all on one line.

[2018-09-26 20:18] ndbroadbent opened #121 "Complex conditions are not formatted very nicely"
Before:

[code]

After:

[code]

(I replaced the regular expressions with examples.)

But the reformatted code has a really long line, which I'm trying to avoid.

[2018-10-05 13:17] sudo-nice opened #122 "Use outdent style for "private", "protected", "public" directives"
Famous ruby configuration plugin, [vim-ruby], has [three styles] to indent `public`, `private`, `protected` directives. Currently, `rufo` uses the `normal` style (in terms of `vim-ruby`), but maybe you would find the `outdent` style more apparent and decide to use it instead.

Anyway, thanks for a great tool!

[vim-ruby]: https://github.com/vim-ruby/vim-ruby
[three styles]: https://github.com/vim-

[2018-10-05 15:42] sudo-nice opened #123 "Aligning method arguments with a *splat"
Arguments with a splat are aligned unexpectedly:

[code]

[code]

[2018-10-10 06:52] constantm commented on #82
I just ran into this as well - had a constant declared on a Ruby class that used an inverted apostrophe. Not sure if this will help at all, but here are the details:

[code]

[code]

[2018-10-11 07:08] #120 closed

[2018-10-12 06:55] 1st8 commented on #82
I can confirm, that this is something related to the vscode plugin.

[2018-10-12 16:13] bessey commented on #82
I am the maintainer of the vscode plugin. I don't really use the plugin
myself at the moment but I am happy to take a pull request, its not a very
complicated plugin
<https://github.com/bessey/vscode-rufo/blob/master/src/rufo.ts>!

Matt

On Fri, 12 Oct 2018 at 07:55, Christoph Geschwind <notifications@github.com>
wrote:

[2018-10-30 17:19] bessey opened #128 "Nested one liner "if" statement has odd indentation"
Notice the extended spacing before `else`
[code]
But formats correctly without the nested if:
[code]

On Rufo 0.4.1

[2018-11-01 15:56] bessey commented on #123
Another case:

[code]

[2018-11-02 10:16] JonRowe commented on #110
Rufo will format HEREDOCs invalidly too, e.g.

Turn this valid, and in my opinion, correctly formatted HEREDOC
[code]

Into
[code]

[2018-11-12 15:33] alsemyonov commented on #122
`public`, `private` and `protected` are methods of `Class`, not reserved words or directives like `class` and `end`. Why should formatter treat them like directives and not methods, as you propose?

[2018-11-12 15:35] alsemyonov commented on #110
Rufo somehow added very long lines of spaces for some my heredoc strings (and has completely broken tilda heredocs contents with that).

[2018-11-15 10:06] ndbroadbent opened #129 "How to format all Ruby files in all subdirectories?"
This was missing from the README and the output of `rufo --help`. Is there a way to format all Ruby files in a project? I tried `rufo **/*.rb` but that only formatted files in the first level of subdirectories.

[2018-11-15 10:09] ndbroadbent commented on #129
I got it to work with a `find` command: `find . -type f -name "*.rb" -print0 | xargs -0 rufo`

But would be great if `rufo` supported this.

[2018-11-15 10:15] ndbroadbent commented on #2
@BrianHawley I want to use Rufo and RuboCop at the same time. Would it be possible to work with the RuboCop team so that your default config enforces the style? What do you think @bbatsov?

If we go by number of stars, I think RuboCop and the [Ruby Style Guide](https://github.com/rubocop-hq/ruby-style-guide) should be the decider. I don't like some of the rules either, but the fragmentation of the

[2018-11-15 10:43] ndbroadbent opened #130 "Syntax errors after running rufo on the RuboCop codebase"
Hi,

I would really like the Rufo and RuboCop developers to work together so that we can have some tools that work well together and have a consistent default style. After working with Prettier to auto-format JS on save, I can't go back to manually formatting my Ruby code. Rufo looks great, but I also need RuboCop for the actual linting errors and auto-fixing issues (e.g. changing `!present?` to `

[2018-11-15 11:39] bessey commented on #129
`rufo .` does this just fine:

[code]

[2018-11-15 11:46] ndbroadbent commented on #129
Oh thanks! I'll send a PR to update the README

[2018-11-15 11:46] #129 closed

[2018-11-15 15:51] ndbroadbent commented on #130
Bug fixed in #133

[2018-11-15 15:59] bbatsov commented on #2
I'm always open for collaboration, but given the fact that RuboCop is both a linter and a formatter I can't imagine someone is going to use it just for linting. Just sounds weird to opt to use two tools when you can use just one.

[2018-11-15 16:21] martinos commented on #2
The main reason for using Rufo with Rubocop is that Rufo is way faster. Thus you can run Rubocop before committing and fix other linting issues. But since the output syntax differ for both tools, they fight each other which is far from ideal. I think that the slow adoption of Rufo might be caused by that reason.

I've shown Rufo to some devs and since it's output syntax diverge most standards they

[2018-11-15 16:37] ndbroadbent commented on #2
I just tried out RuboCop and Rufo on a badly formatted Ruby hash with a really long line:

[code]

### RuboCop

Output

[code]

Result:

[code]

### Rufo

Output:

[code]

Result:

[code]

Honestly I'm a bit disappointed that neither one has an opinionated way of splitting up the hash into multiple lines.

Here's how Prettier does it:

Before:

[code]

After:

[code]

It's super opinionated about

[2019-01-01 12:57] #130 closed

[2019-01-04 03:43] lparry opened #136 "Squiggly heredoc having broken indentation applied to content of doc"
Hi,

We are looking at using this on an large existing codebase and our spec suite caught what seems to be a bug in rufo. I've got a tiny example of a failing spec [here](https://github.com/lparry/rufo/commit/c263dee260e3aac498f20a74b43dbb828b1f2cd7).

input:
[code]

expected output:
[code]

actual output:
[code]

I've been poking around in rufo's source but I'm not having much luck following what

[2019-01-21 04:03] JWoodbr opened #140 "syntax errors after running rufo over itself"
if rufo is ran over itself it will create syntax errors
eg.
[code]
becomes
[code]

[2019-01-22 03:48] #140 closed

[2019-01-22 17:46] gingermusketeer commented on #136
This should be fixed in `0.4.2`. Thanks to @JWoodbr!

[2019-01-22 17:46] #136 closed

[2019-01-30 11:32] MarioRuiz opened #143 "Cannot get rid of message 'Format: xxxxxx.rb'"
When calling rufo using system('rufo myfile.rb') it shows all the time on the output 'Format: myfile.rb' and I would like to get rid of it. I tried to use --simple-exit, but same result

[2019-02-05 00:30] flyerhzm opened #146 "add space inside hash literal braces"
Almost all of ruby projects use hash with inside space `{ foo: 'bar' }` rather than `{foo: 'bar'}`, e.g.

rspec-core https://github.com/rspec/rspec-core/blob/7b6b9c3f2e2878213f97d6fc9e9eb23c323cfe1c/lib/rspec/core/bisect/shell_command.rb#L49
rails activemodel https://github.com/rails/rails/blob/master/activemodel/lib/active_model/validations/acceptance.rb#L7
devise https://github.com/plataformatec

[2019-02-05 21:11] #146 closed

[2019-02-11 01:10] lparry opened #152 "Rufo crashes on nested empty hash literal"
I've got a test case here: https://github.com/lparry/rufo/commit/9c4e59c9c9c6ffad835f1be572845ad4b362764b

the following causes rufo to explode:

[code]

output:

[code]

[2019-02-11 14:11] flyerhzm commented on #54
@gingermusketeer what's the status? any reason the PR is not merged into master branch?

[2019-02-12 15:23] #152 closed

[2019-02-12 16:07] gingermusketeer commented on #54
@flyerhzm You can see the work in progress here https://github.com/ruby-formatter/rufo/pull/91

The main issue that is holding it up is that heredocs are problematic to get formatted right (or at least in a way that is valid ruby). Only a few tests failing but until they have been resolved we can't merge that branch.

[2019-02-12 16:07] gingermusketeer commented on #54
If you have any suggestions to resolve the tests that are still failing let me know!

[2019-02-23 16:40] gingermusketeer commented on #54
Made some good progress on this front today. All the tests are passing now :)

[2019-03-03 17:41] #143 closed

[2019-03-04 17:38] #128 closed

[2019-03-09 21:10] splattael opened #165 "Don't break `rspec-core` after formatting"
[rubyfmt](https://github.com/samphippen/rubyfmt)'s punchline is "Rubyfmt - 0.1, the one where it doesn't break RSpec".

I was [curious](https://mobile.twitter.com/samphippen/status/1104427614599593984) whether `rufo` (latest `master`) breaks [`rspec-core`](https://github.com/rspec/rspec-core) specs after formatting. Despite some code style differences it actually breaks RSpec :disappointed:

[code

[2019-03-10 08:41] splattael commented on #165
Interestingly, I get different failure if we let `rufo` format with `quote_style :single` (`:double` is default):

[code]

[2019-03-10 09:15] splattael commented on #165
The good news we don't break specs we only format `lib`. We "only" break the `spec/` folder.

[2019-03-10 09:22] splattael commented on #165
Fixing `spec/rspec/core/metadata_spec.rb`. `rufo` added an extra line the expected result `__LINE__ + 3` has changed to `__LINE__ + 4` which makes sense.

[code]

No `rufo` changes required.

[2019-04-01 18:57] masakinihirota opened #167 "bug report"
You've found a bug!
Please report it to https://github.com/ruby-formatter/rufo/issues with code that triggers it

[code]

[2019-04-04 13:03] maxh commented on #2
FYI I've written a Rubocop cop to split up multiline hashes: https://github.com/rubocop-hq/rubocop/pull/6824

Internally we have an autocorrecting line length cop I'm planning to upstream soon. In combination, these two cops can pretty print the example you share with Rubocop. Here's the output:

[code]

That last empty line is an issue but should be easy to fix.

[2019-04-04 14:14] bbatsov commented on #2
@maxh This comment reminded me of your PR and I just merged it! Thanks for working on this.

Btw, on the general topic of the conversation I wrote [this article](https://metaredux.com/posts/2019/03/30/the-missing-ruby-code-formatter.html) recently.

RuFo, rubyfmt and prettier-ruby seems to have pretty similar goals/scope, so maybe some collaboration there is possible. In particular RuFo and rubyfm

[2019-04-04 14:46] gurgeous commented on #2
Can confirm - my team is trying out rubocop with rubocop-daemon and it is extremely fast. We also like rufo and want to give prettier-ruby a whirl since we use prettier elsewhere in the project.

[2019-04-25 07:49] shunhikita opened #168 "Bug: `:"foo"` occures Rufo::Bug Error in ruby 2.6.3"
env:
* ruby 2.6.3p62 (2019-04-16 revision 67580) [x86_64-darwin18]
* rufo 0.6.0

Formatting the following file:

sample.rb
[code]

Gives the following error:

[code]

For your reference:
Parsing results differ between 2.6.2 and 2.6.3

ruby2.6.2

[code]

ruby2.6.3

[code]

It's also an error in the following case

[code]

[2019-04-27 18:57] #168 closed

[2019-04-27 20:10] gingermusketeer commented on #167
@masakinihirota Are you able to share the file that caused this issue, or a minimal version of it that causes the same issue? Looks like it is something to do with the file encoding.

[2019-04-27 20:11] gingermusketeer commented on #165
@splattael I have updated https://github.com/ruby-formatter/rufo/pull/166 let me know what you think!

[2019-04-28 00:37] flyerhzm opened #173 "support jbuilder"
[jbuilder](https://github.com/rails/jbuilder) is also valid ruby files, rufo should format it too

[2019-04-28 05:14] #173 closed

[2019-04-28 05:15] #123 closed

[2019-04-28 05:24] gingermusketeer commented on #173
The fix for this has been included in 0.7.0. Thanks for opening the PR!

[2019-05-06 17:17] gingermusketeer commented on #165
We are now checking that non line format dependent tests in Rspec work as expected in the Rufo test suite.

[2019-05-06 17:17] #165 closed

[2019-05-06 17:18] splattael commented on #165
@gingermusketeer Awesome, thank you :tada: :purple_heart:

[2019-05-07 14:09] sudo-nice opened #176 "Aligning method arguments with a splat within a block"
This code:
[code]
formates to:
[code]

[2019-05-13 16:27] sudo-nice commented on #176
Also related, this:

[code]
formates to this:
[code]

[2019-05-31 16:43] taylorthurlow opened #177 "Undefined method `first' for NilClass - error formatting file"
I'm reporting this because there is a file which fails formatting and Rufo suggests filing a report. Here's the file in question:

https://gist.github.com/taylorthurlow/2f90240709306953f3914010bc5c1f93

I'm using rufo `0.7.0`.

[2019-06-05 23:32] lparry commented on #93
I'm pretty sure I've stumped on some overlapping bugs, I've added my own test cases here: https://github.com/lparry/rufo/commit/0df5d33cbc3d51ac1a1e53fd0269c4d7d26c13e4

The trailing comma with comment is particularly bad as it's breaking the public key in the heredoc

[2019-06-13 17:02] taylorthurlow opened #178 "Removing empty lines from the beginning of a file"
Is it within the scope of Rufo to remove empty lines at the beginning of a file? If so, I think this should be added. I might be able to see the argument against it, though.

[2019-06-18 06:55] pmk1c opened #179 "Wrong indentation for literal array with interpolation at the beginning of a string"
RuFo is behaving weirdly on literal arrays with interpolation at the beginning of a string. See this for example:

[code]

Running RuFo on it will format to:

[code]

Running RuFo again will format to:

[code]

The interpolation has to be at the beginning of the string.

[code]

Will format to:

[code]

[2019-06-18 08:33] pmk1c opened #180 "Error when trying to format file with some UTF-8 characters in string literal"
When I try to format a file with the following string with typographic quotation marks in it, RuFo gives me an error:

[code]

Edit: The same goes for `"–"` (which is a *en dash* not a *minus*). So this may be a problem with UTF-8 mutibyte characters.

[2019-06-19 07:54] pmk1c commented on #180
This seems to be a problem with the `vscode-ruby` integration and not with RuFo itself.

[2019-06-19 07:54] #180 closed

[2019-06-19 07:54] pmk1c commented on #179
This seems to be a problem with the `vscode-ruby` integration and not with RuFo itself.

[2019-06-21 12:33] Gigacee opened #181 "invalid byte sequence in Windows-31J (ArgumentError)"
ruby 2.5.5p157
rufo 0.7.0
Visual Studio Code 1.35.1

[code]

[2019-06-21 12:44] Gigacee commented on #181
1 行目に以下を記述すると、発生しなくなりました。
The following in the first line no longer occurs:

`# encoding: utf-8`

[2019-06-27 04:12] JMDC-SUN opened #182 "How to work in vscode with Remote Development."
Info
Platform: Win
Vetur version: 0.21.0
VS Code version: Version: 1.36.0-insider (user setup)
with Remote Development
Problem
I use it in Vscode + Remote Development extension, but not work.

but, I installed rufo.
[code]

How to work in vscode with Remote Development.

[2019-08-13 21:15] braindev commented on #110
FWIW I noticed that it will keep adding more indentation each time rufo is run.  In other words it doesn't get to a stable formatting.  This is with the latest version of rufo at the time of writing this (0.7.0).

[2019-08-28 15:09] MarioRuiz opened #183 "On Ruby 2.6 Infinite ranges not accepted"
Infinite ranges not supported

`hash={
    example: 0..
}`

`bug: unexpected node:  at [[3, 0], :on_rbrace, "}", #<Ripper::Lexer::State: EXPR_END>] at [[3, 0], :on_rbrace, "}", #<Ripper::Lexer::State: EXPR_END>] (Rufo::Bug)`

[2019-09-17 23:22] gencer opened #184 "`REGEX` pattern causes formatting error: `the given text is not a valid ruby program (it has syntax errors)`"
open a ruby file. Write some piece of code. And put this code to somewhere at the beginning:

[code]

Now try to format `.rb` file. It will fail.

[code]

[2019-10-15 16:24] hicolazu opened #185 "Bug founded"
I just had an error with my test code:
carro = Hash[nome: "Civic", marca: "Honda", cor: "Vermelho"]

config = Hash.new
config["ip"] = "3333.3333.3333.3333"
config["porta"] = 3333

puts "Seu ip: #{config["ip"]} está conectando na porta #{config["porta"]...}"

The error was:
You've found a bug!
Please report it to https://github.com/ruby-formatter/rufo/issues with code that triggers it
C:/Ruby26-x64

[2019-10-18 19:11] #183 closed

[2019-10-18 19:13] gingermusketeer commented on #185
This is a duplicate of #183 which is now fixed.

[2019-10-18 19:13] #185 closed

[2019-10-18 19:24] gingermusketeer commented on #181
Hi, I have not been able to reproduce this issue. Are you able to share a file that causes rufo to fail?

[2019-10-25 18:23] cdimartino opened #187 "Preservation of spacing is not working"
I'd love to use `rufo` but it keeps stepping on my coworkers tireless work aligning arguments. Any ideas as to why it removes spacing here:

[code]

formats to:

[code]

[2019-11-01 17:34] lastobelus opened #188 "rufo adds space to heredocs in argument lists, twice"
before formatting:
[code]
after first formatting:
[code]

after second formatting:
[code]

see also #110

[2019-11-01 17:38] lastobelus commented on #110
I created a new issue #188 specifically for the rowing whitespace issue

[2019-11-18 16:32] mmlb opened #190 "How to handle ruby files detected by content"
Is there a way for `rufo .` to detect files that aren't obviously ruby related (Gemfile, *.rb) by the file name alone? Some files in one of the projects I work with have no extension and aren't standard ecosystem file names and so rufo skipped it.

[2019-11-21 20:24] eiseneker commented on #82
I'm experiencing this issue from the CLI:

[code]

This will fail on characters such as:
[code]

Environment:
[code]

Environment is a Docker container `FROM ruby:2.5.0`. Same command works okay on my host machine running ruby 2.5.0 (macOS)

[2019-11-22 22:43] TranquilMarmot opened #192 "Quoted keys break parsing"
Trying to run `rufo` against:

[code]

Causes it to break with:

[code]

[2019-11-25 04:29] Gigacee commented on #181
I tried again to format my ruby documents without `# encoding: utf-8` on the latest environment, This error no longer occurs.
Thanks!

最新バージョンで再度試してみたところ、エラーが発生しなくなっていました。

rufo v0.7.0
ruby 2.6.5p114
Visual Studio Code v1.40.1

[2019-11-25 04:29] #181 closed

[2019-12-04 19:01] taw opened #194 "Heredoc issue: rufo keeps indenting forever"
[code]

It keeps reindenting line with `Forest`. After a few runs it's:

[code]

[2019-12-04 19:03] taw opened #195 "Multiline `.should` - rufo needs two iterations to stabilize"
Original:
[code]

After 1 iteration, it doesn't reach final form yet:
[code]

After 2 iterations, it finally stabilizes:
[code]

[2019-12-04 19:04] taw opened #196 "Heredoc issue: rufo places comma in wrong place"
With this code:

[code]

Comma is placed in wrong place:

[code]

[2019-12-16 04:57] totodo713 opened #197 "Now default file encording is not utf-8?"
hi,

I use rufo 0.7.0 on ruby ruby 2.6.5p114  within windows 10.
Rufo is not run, because multibytes charactor is in file.
Rufo is done formatting, when I wrote Magic word (`# encoding: utf-8`).

I don't hope to wrote it, if Rufo's default file encording is not UTF-8.
Please fix it.

thanx.

[2019-12-28 12:18] gingermusketeer commented on #187
This was something that rufo supported in the past but was removed. Supporting this is complicated and it does not minimise version control diffs, one of Rufo's goals.

For example if we add a new attribute which is longer (or remove the longest attribute) then we end up with a diff like the following:

[code]

However using the approach that rufo takes we end up with:
[code]

Hopefully this makes

[2019-12-28 12:18] #187 closed

[2019-12-28 12:21] gingermusketeer commented on #182
Hi this is the repo for the rufo gem not the vscode extension. Hopefully you have found a solution to this otherwise try raising an issue on https://github.com/bessey/vscode-rufo

[2019-12-28 12:21] #182 closed

[2019-12-28 12:24] gingermusketeer commented on #197
@totodo713 Could you include a copy of the error you are getting when the magic comment is not present? If you could attach the file you are having a problem with that would be helpful as well.

[2019-12-31 16:15] gingermusketeer commented on #167
@masakinihirota Please reopen this if you find the above information.

[2019-12-31 16:15] #167 closed

[2019-12-31 16:53] jona commented on #102
This would be amazing 👍

[2020-01-01 13:59] #177 closed

[2020-01-02 17:42] #190 closed

[2020-01-02 17:42] #178 closed

[2020-01-02 18:17] gingermusketeer commented on #192
@TranquilMarmot This is working for me on the latest version. I suspect that it was related to one of the other bugs that was fixed.

Please reopen this if it is still a problem.

[2020-01-02 18:17] #192 closed

[2020-01-02 18:47] taylorthurlow opened #206 "Rufo 0.8.0 breaks when running on input files/directories not within the current directory"
Consider the following directories and file: `/code/project/app/foo.rb`

If my current directory is `/code/project/app`, then running `rufo foo.rb` or `rufo .` works as expected.

However, if my current directory is `/code/project`, and I run `rufo app`, then it fails when trying to format `app/foo.rb` because it's trying to load the file with the path `foo.rb` rather than `app/foo.rb`.

[2020-01-02 19:46] #206 closed

[2020-01-02 19:54] gingermusketeer commented on #206
@taylorthurlow This should be fixed in 0.8.1. Thanks for creating the issue.

[2020-01-02 20:07] taylorthurlow commented on #206
@gingermusketeer No problem, thanks for working on Rufo! I consider it invaluable to my day-to-day work.

[2020-01-03 11:37] gingermusketeer opened #209 "Node modules folder is being formatted"
I am seeing the following file getting formatted `./node_modules/node-sass/src/libsass/extconf.rb`

Perhaps it should be included in the ignore list?

[2020-01-03 11:38] gingermusketeer commented on #209
Or should we try and reuse .gitignore files which typically include this?

[2020-01-03 15:20] gingermusketeer opened #210 "<%== %> syntax not supported"
Rails supports `<%== "test" %>` which translates to `<%= raw("test") %>`.

[2020-01-03 18:36] taylorthurlow commented on #210
This might be a similar issue, but the parser chokes on

[code]

Notice the `-%>`. Removing the `-` solves the problem.

[2020-01-04 10:13] gingermusketeer commented on #210
Ah yes. Can tackle both of these together.

[2020-01-05 19:07] #210 closed

[2020-01-10 23:08] mmlb commented on #190
I kind of wanted rufo to do file type detection by reading file magic, but that would go against the "no deps" mantra, so #201 is good enough compromise, thanks!

[2020-01-11 09:05] gingermusketeer commented on #90
Been looking into this issue and would like to get some feedback on what we should do here. I can see two options that seem like good approaches.

# Option 1

The first is what @martinos suggests above:
[code]

**Pros**
- Small and focused diffs for version control tools when changing a single line. See below.
[code]

# Option 2
Keep the first line of the expression on the same line as the assignm

[2020-01-11 09:16] gingermusketeer commented on #190
@mmlb I agree that we would need to have either have to have a dependency for that or build something that would still be slow or unreliable. Good to hear that #201 is a good compromise!

[2020-01-11 16:15] gingermusketeer commented on #184
I think this has been fixed recently as I am not able to reproduce. Please reopen this if it is still an issue.

[2020-01-11 16:15] #184 closed

[2020-01-11 17:28] #83 closed

[2020-01-11 17:55] gingermusketeer commented on #90
Decided to go with Option 2

[2020-01-11 17:55] #90 closed

[2020-01-11 18:29] #93 closed

[2020-01-15 20:41] f-mer opened #218 "Formatting erb files from STDIN"
The current version does not handle `*.erb` files written into stdin.
`$ cat template.erb | rufo --filename template.erb`  does not work. I would like to make this work to enable automatic formatting of `.erb` files in sublime-rufo :slightly_smiling_face:

[2020-01-16 20:12] #218 closed

[2020-01-17 13:58] paublyrne opened #221 "Indent Conditional Assignment"
Looked in issues to see if this was discussed before, but haven't seen any.

Conditional blocks go against the Ruby style guide in terms of space efficiency at the moment.

https://github.com/rubocop-hq/ruby-style-guide#indent-conditional-assignment

Rufo changes

[code]

into

[code]

A lot of Ruby coders use narrow char widths and this seems to go against that. Is it a conscious decision or omis

[2020-01-17 14:26] paublyrne commented on #102
This seems to be the case when the do operator is on the left also.

Would a PR be accepted?

[2020-01-17 15:05] gingermusketeer commented on #102
@paublyrne I am not sure what you mean by the do operator being on the left. Do you have an example?

A PR for this issue sounds great!!

[2020-01-17 15:54] paublyrne commented on #102
@gingermusketeer Sorry I meant dot operator, as in:

[code]

Great I'll take a pass at it!

[2020-01-17 15:56] gingermusketeer commented on #221
@paublyrne with the latest version of rufo the code becomes:
[code]

This was chosen recently, see #216 and linked issue comment https://github.com/ruby-formatter/rufo/issues/90#issuecomment-573297999, but definitely something that can be refined. The Ruby style does not mention the style above so I think it should not be considered authoritative.

Looking through the following repos:
[code]

I fo

[2020-01-17 15:58] gingermusketeer commented on #102
@paublyrne Ah okay, covering that one as well would be great! Look forward to the PR :)

[2020-01-17 16:18] paublyrne commented on #221
Oh yes I see that the rufo way is something in between the examples in the Ruby Style guide.

Although my preference is for their final example

[code]

In the comment you link this would be Option 1.

But it's personal preference, I could live with the current approach. Would prefer that at least for long lines it switches to the above.

I do note that Option 1 was the only option with no cons th

[2020-01-18 14:35] gingermusketeer commented on #221
@paublyrne if you want to tackle the long line case then I would happily accept a PR. We don't have line length logic in the code base at the moment so I think it will be non trivial.

We do have a branch which is working on a new formatter that would be able to handle things like this however.

At the moment I am focused on addressing issues that would block usage. For example I would like to get

[2020-01-18 14:36] gingermusketeer commented on #197
@totodo713 I am going to close this for now but please reopen with the above information if you have a moment to upload it.

[2020-01-18 16:37] paublyrne commented on #221
Sounds good. I can take a look at the length issue this week.

[2020-01-19 22:49] totodo713 commented on #197
@gingermusketeer sorry, I'm too lately. Is my answer OK ?

Before the first :
![ Before The first](https://user-images.githubusercontent.com/35787394/72689682-56a3f280-3b57-11ea-913e-401830937073.png)

After the first  on errored:
![After the first on errored](https://user-images.githubusercontent.com/35787394/72689693-73d8c100-3b57-11ea-8c57-11839c864f59.png)

Before the second with the Magic wor

[2020-01-19 22:56] totodo713 commented on #197
@gingermusketeer I guess I cannot reopen this issue because collaborator closed.

[2020-01-22 09:44] pmk1c commented on #209
Using `.gitignore` as default exclusion list sounds very reasonable to me! :+1:

[2020-01-27 11:36] mingan opened #223 "Empty symbol (:'') as a hash key"
Formatting a hash like:

[code]

with stacktrace:

[code]

Rufo 0.10.0 on Ruby 2.5.6.

[2020-01-27 18:59] taylorthurlow opened #224 "ERB: Rufo failing to parse "multi-layer" ERB"
Here's a short series of shell commands to illustrate the issue:

[code]

In general, during ERB parsing, `<%%= puts 'foo' %>` should compile to `<%= puts 'foo' %>` - the same string with one of the extra `%` on the left side removed. It then follows that `<%%%%%= puts 'foo' %>` should compile to `<%%%%= puts 'foo' %>`.

The rule from the docs says:
[code]

I take this to mean that this should hap

[2020-01-28 20:05] #224 closed

[2020-01-28 20:34] #223 closed

[2020-02-03 13:49] caifara commented on #221
First of all: thank you for this encredible gem!

I saw several people in #90 trying to move rufo to some new form. Just adding my 2 cents here for what it's worth. I find the form where the conditional stays completely to the right of the assignment to best communicate the intent of the code.
I wonder if the amount of users regretting the change wouldn't be larger than the one requesting the chan

[2020-02-03 14:30] paublyrne commented on #221
I'm happy to close this if it's contentious.

[2020-02-10 19:18] aaronjensen commented on #221
Just found this since the current method conflicts with Rubocop, which does not appear to have this as an option, but they do have 3 others: https://www.rubydoc.info/gems/rubocop/RuboCop/Cop/Layout/EndAlignment

I can disable the rubocop rule, but it might be nice for them to somewhat get along. Thanks!

[2020-02-11 22:31] aaronjensen opened #228 "splat (*) inside method call inside class incorrect indentation"
[code]

Actual:

[code]

Tested on master.

[2020-02-12 09:08] Jay-Schneider commented on #196
I have a very similar problem to report, where rufo breaks heredocs by adding a comma to the terminating name. When a method `foo` accepts say keyword arguments `s` and `t`, the code
[code]
gets transformed to
[code]
by rufo which is invalid because the heredoc never ends until EOF.

I can workaround this by writing something like
[code]
which will not be broken by rufo because it just gets change

[2020-02-12 10:58] Jay-Schneider commented on #196
Ah, I did a little reading and found a better solution to my own problem.
@taw one way to prevent rufo to add this comma would be postponing your heredoc definition and only declare it in the function call.
What I mean is writing
[code]
(with other indentation, if you wish – or even with squiggly-heredoc).
This still requires to write the arguments in one line as far as I can see though. But I thi

[2020-02-13 11:16] masa-iwasaki opened #229 "A bug with syntax error code"
I accidentaly found a bug with my silly syntax mistake. This is a sample code to reproduce.

[code]

This code is obviously contains a syntax error.

[code]

And sadly, rufo crashed.

[code]

[2020-02-18 19:30] sbeckeriv opened #230 "case statement using then"
[code]
ruby test.rb
4

rufo test.rb

[2020-02-19 21:04] terlar opened #231 "Missing runtime dependency: rake"
If I try to install this package I get the following error:
[code]

I notice that `rake` is used, but not defined as a dependency (only dev dependency):
https://github.com/ruby-formatter/rufo/blob/c10652b90be5c8e8bd25e5a4c8030ec0e36acbce/lib/rufo/file_finder.rb#L2

[2020-03-01 01:35] i-tsvetkov opened #234 "Add configuration option to preserve the existing style of quotes"
Hi, I think that having a way to format a messy ruby codebase is great, but I think that the changes to the quote style in large codebases are stopping a lot of people from adopting the gem.

The changes to the quote style can create very large diffs that can't be reviewed effectively in a timely manner.

I also think that the quote style as a formatting option is far from what most people are sea

[2020-03-04 15:13] BatuhanW commented on #234
@i-tsvetkov You can create a `.rufo` file at the root of the project and add this line;

[code]

[2020-03-04 16:21] i-tsvetkov commented on #234
I understand that rufo will keep double quotes with sting interpolation in them but if there is a string using double quotes and there is no string interpolation in it rufo with the suggested configuration will change the quote style from double to single quotes.

The point I'm trying to make here is that sometimes it is better to ignore the quotes that are not conforming to some preferred style a

[2020-03-07 19:49] #229 closed

[2020-03-07 19:59] gingermusketeer commented on #234
@i-tsvetkov Rufo previously had a lot of configuration options that allowed for this sort of thing , not for quotes but for other configuration options. However we are moving away from this in favour of less configuration.

Consistent code is not just great for readability but also searching and making wide ranging changes. All of this is easier with consistent code.

I understand that your sugges

[2020-03-07 19:59] #234 closed

[2020-03-07 20:00] #2 closed

[2020-03-08 16:01] #231 closed

[2020-03-08 16:14] #209 closed

[2020-03-08 16:31] #230 closed

[2020-03-08 19:41] gingermusketeer commented on #197
@totodo713 This should be resolved in 0.12 which has just been released. Would you be able to test it and make sure it is working for you?

[2020-03-08 19:41] #197 closed

[2020-03-08 19:48] gingermusketeer commented on #221
@caifara @aaronjensen I would not recommend using both Rufo and Rubocop for styling. Rufo includes rubocop configuration that you can use to disable formatting rules.

Best to let one tool decide rather than having two fighting each other. This is how it is handled in other communities such as Rust and Go which both have seperate tools for linting and formatting.

I am going to close this for now

[2020-03-08 19:48] #221 closed

[2020-03-09 20:28] aaronjensen commented on #221
@gingermusketeer could you point me to this configuration and associated docs if available, please? Is it https://github.com/xinminlabs/rubocop-config-rufo ?

[2020-03-11 02:26] totodo713 commented on #197
@gingermusketeer Thanks! I get to working sure!

[2020-03-13 15:57] gingermusketeer commented on #221
@aaronjensen you can find it here: https://github.com/ruby-formatter/rufo/blob/master/.rubocop.yml

[2020-03-13 16:20] aaronjensen commented on #221
Ah, I was thinking it would be a configuration that I could extend in my configuration. This looks like it also disables metrics, which seems likely orthogonal to ruby formatting, but the other bits are easy enough to copy into our config. Thank you.

[2020-03-13 16:23] gingermusketeer commented on #221
@aaronjensen I don’t recall off the top of my head why it disables metrics but if you would like to make it reusable then PRs are definitely welcome

[2020-03-17 02:36] TorvaldsDB commented on #99
Hey guys. How to find the file `.rufo`? Or where to se the file?

[2020-03-17 15:10] gingermusketeer commented on #99
@TorvaldsDB can you create a new issue with more details of the problem you are having with the .rufo file rather than commenting on this resolved issue

[2020-03-30 02:05] gstamp commented on #194
I'm also seeing this one.

[2020-04-01 21:32] mloughran opened #242 "Empty hash containing comment causes non-equivalent rewrite"
The following code:

[code]

is rewritten  (by Rufo 0.12) as:

[code]

which does not produce the same output.

If `# comment` is removed Rufo does the right thing and outputs:

[code]

(tested on both macOS and Debian)

P.S. Thanks for Rufo, it's wonderful to have a proper formatter for Ruby, and it's taken a year to find the first bug :)

[2020-04-29 06:29] riztaha opened #243 "Pop-up regarding a bug found when following along Ruby on Rails guide."
Found a bug while following along on https://guides.rubyonrails.org/v4.2/getting_started.html
when dealing with show.html.erb

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>
 
<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>

[2020-05-20 09:23] kaitaku opened #245 "`scan': invalid byte sequence in US-ASCII (ArgumentError)"
Hi

The error below occurs even though the erb file is uft-8.

/Users/xxxxx/.rvm/rubies/ruby-2.5.7/lib/ruby/2.5.0/erb.rb:454:in `scan': invalid byte sequence in US-ASCII (ArgumentError)
	from /Users/xxxxx/.rvm/rubies/ruby-2.5.7/lib/ruby/2.5.0/erb.rb:454:in `trim_line2'
	from /Users/xxxxx/.rvm/rubies/ruby-2.5.7/lib/ruby/2.5.0/erb.rb:411:in `call'
	from /Users/xxxxx/.rvm/rubies/ruby-2.5.7/lib/ruby/2

[2020-05-20 19:22] gingermusketeer commented on #245
@kaitaku Thanks for opening an issue. It looks like you are piping the code into rufo? Are you able to pipe it into `ruby -e "puts STDIN.read.encoding"` and send me the output?

Strange that the code is not being treated as UTF8 by default.

[2020-05-20 19:25] gingermusketeer commented on #243
@riztaha What command are you using to format this file? Also are you on the most recent version of rufo?

I am not able to reproduce it with the above snippet.

[2020-05-21 10:17] #196 closed

[2020-07-02 11:19] rindek opened #246 "Does not work when trying to rufoize code with pattern matching (ruby 2.7)"
When trying to run rufo against code that has pattern matching, rufo results in error

[code]

Example code in question (with use of [dry-monads](https://github.com/dry-rb/dry-monads) gem):

[code]

It does not work as well for "simple" matching, such as:

[code]

Are there plans to include support for pattern matching?

[2020-07-10 10:20] andywatts commented on #2
How did "opinionated defaults" become "remove configuration options".
No longer possible to configure indents to 4 spaces?  :/

[2020-07-16 15:02] theworkerant commented on #102
Great idea!

[2020-07-23 20:34] martinos commented on #2
@andywatts, if there's a setting that should be fixed is the spacing.  There is almost no gem that uses 4 spaces indentation.

[2020-08-31 14:51] rindek commented on #246
Hey @gingermusketeer do you know maybe if there are plans to include pattern matching syntax to rufo?

[2020-09-10 10:11] gingermusketeer commented on #246
@rindek It will definitely be included at some point. Can you submit a PR with a failing test and I will take a look when I get a moment.

[2020-09-10 12:06] rindek commented on #246
@gingermusketeer I've added couple tests, hope they are correct - see #250

[2020-11-12 16:44] rjkaes opened #251 "`when` is Outdented from `case` in Assignment"
With a block of code:

[code]

rufo will reformat it as:

[code]

regardless of the state of `align_case_when`.

I believe the original formatting should have been maintained. In general, if rufo is configured to align `when` with `case`, it should be true in an assignment.

rufo 0.12.0
ruby 2.6.6

[2020-11-19 23:05] phantomwhale opened #252 "Rufo modifies escape characters"
With the code:

[code]

Running rufo (0.12.0 - running on Mac / ruby 2.6.5) changes this to:

[code]

E.g. the `\b` word boundary regex matcher is interpreted as `backspace` and then turned into the CTRL-H (backspace) control character on completion

[2020-11-27 14:40] bmulholland opened #253 "Sorbet: newline inserted between sig and method"
I'm adopting sorbet and adding method signatures. Since these are connected things, I expect them to be grouped together, as you can see in the Sorbet docs: https://sorbet.org/docs/sigs. However, when formatting with rufo, a newline is inserted:

[code]

[2020-11-27 14:41] bmulholland commented on #253
Happy to attempt a PR for this if there's consensus that rufo should behave this way, and ideally with a pointer or two for someone new to the project's code.

[2020-12-06 17:07] gingermusketeer commented on #253
@bmulholland Definitely makes sense to group them together in that case. A PR would be great :)

I would suggest to add a new test file for sorbet type definition examples and follow your nose from there.

[2020-12-06 17:09] gingermusketeer commented on #252
@phantomwhale I tried to reproduce this but was not able to. I wrote a test for the case you have here: https://github.com/ruby-formatter/rufo/compare/bug/regex-escape-characters?expand=1 but the tests pass in all versions of ruby.

Would you be able to do some more digging on your side? A PR with a failing test would be great.

[2020-12-07 11:45] bmulholland commented on #253
I managed to create a test fine, but a 4000 line ruby file is a little overwhelming.

I'm guessing that I'm looking for something that inserts a newline between a ?command? and a method call? So maybe in `visit_method`? Or is it `consume_space_after_command_name`?

Do you have any tips on how to trace through the commands? Should I just drop a breakpoint at some point? If I do that, how do I know

[2020-12-09 09:20] gingermusketeer commented on #253
@bmulholland Definitely a bit overwhelming. Be nice to break it up a bit. Did start working on refactoring it but that was also trying to implement a new approach for formatting.

I would try to condense the test to as little code as possible to start with so the AST is small as well. Then put a breakpoint in the visit method and inspect the node data being passed in. Keep an eye on `@output` as t

[2021-01-05 16:58] bmulholland commented on #253
Thanks for your tips, that was really helpful.

The root cause is [here](https://github.com/ruby-formatter/rufo/blob/master/lib/rufo/formatter.rb#L543). That conditional returns true, which then adds a second new line after `consume_end_of_line` has already added one itself.

I'm trying to figure out what the proper fix for this would be. I feel like `needs_two_lines?` should probably return false

[2021-01-12 21:02] barunio opened #254 "Heredoc argument alignment"
Rufo allows for some flexibility regarding aligning call parameters, but does not allow for a common pattern when using heredocs. Specifically:

[code]

The disallowed format is a common one that is in many cases easier to read. Is this restriction intentional?

[2021-01-14 13:10] bmulholland commented on #54
Looks like #91 was merged a year ago - is there anything else holding up length-based formatting now?

[2021-02-23 08:36] wuarmin commented on #103
Check this out!! After all it's a decision about performance: https://anti-pattern.com/always-use-double-quoted-strings-in-ruby

[2021-02-27 13:17] Dicridon opened #255 "Support for pattern matching"
Hi, I was trying to format some Ruby 3 code where pattern matching is used, and rufo seems not to work with pattern matching.
My code(manually formatted and runnable with Ruby 3) and errors are below:
[code]

![image](https://user-images.githubusercontent.com/24477137/109388128-2aed6180-7940-11eb-96a1-467d074780d8.png)

[2021-04-09 07:15] Fuuzetsu commented on #194
Likewise; having to stop using squiggly heredocs...

[2021-04-14 09:53] marras commented on #253
@bmulholland A **quick hack** for preventing extra line after `sig` calls is to add the following code in line #541 of _formatter.rb_.

NOTE: Like you said, this approach does not look robust at all; it boils down to removing the newline _after_ the `sig` line while still allowing the `def` line to add another one ;). The upside is that you don't need to store/pass around any `prev_expr`, so the c

[2021-04-19 09:15] bmulholland commented on #253
Thanks for the code @marras. I agree with you - this should probably trigger only when `T::Sig` is included. Sounds hard, though.

I suppose your usage is also a +1 for adding this feature into `rufo` :)

[2021-05-06 15:16] lockland opened #258 "Add a none option to quote_style and/or provide a setting to disable it"
When you are working on a legacy code replacing quotes is really danger, so have a setting to disable this format rule would be amazing.

That mechanism was already developed as we can see on code below:

https://github.com/ruby-formatter/rufo/blob/b87e21e504d34d39d80d7186ff777c279f02d843/lib/rufo/formatter.rb#L644-L654

But it is not possible just return on that method because of the code below

[2021-05-10 10:19] mloughran commented on #242
Rufo 0.13 formats this example ever so slightly differently, but it's still broken. Somehow the comment inside the hash impacts the following code. New output:

[code]

[2021-06-03 22:15] suan opened #260 "With "Format Selection", always wrongly removes all indentation"
Given

[code]

If I highlight the moddle line and run "Format Selection" command, it results in

[code]

(all indentation removed). Would love a fix (or pointer on how to fix)

[2021-06-04 09:41] tnir commented on #260
@suan I am not sure what interface you used, but if you use Rubo on VS Code, you can ask this at https://github.com/jnbt/vscode-rufo/issues. If not, let me know what interface (e.g. IDE) you are using 😄

[2021-06-04 14:51] suan commented on #260
Ah, sorry got confused. I've filed it over there and will close this. Thanks!

[2021-06-04 14:51] #260 closed

[2021-06-12 12:24] adamroyjones opened #261 "Removal of indentation from chained method calls with blocks"
Thanks for your work on `rufo`—it's great!

I've noticed one behaviour that I find a bit surprising: when chaining method calls with blocks, indentation is removed. For example, take the following file:

[code]

With Ruby 3.0.1 and rufo 0.13.0, this becomes:

[code]

In this particular case it doesn't matter at all, but for longer chains of method calls that use longer blocks, I think it becomes p

[2021-06-25 14:02] bgvo opened #263 "VSC is done formatting, but on terminal rufo says otherwise"
I'm using Rbenv.
In VSC I installed https://github.com/jnbt/vscode-rufo
Running `which rufo` on the terminal produces `/Users/borjagvo/.rbenv/shims/rufo`
I changed `VSC Settings > Extensions > Rufo > Path to invoke Rufo` to point to `/Users/borjagvo/.rbenv/shims/rufo`.
I formatted a file from VSC. However, if I run `bundle exec rufo --check app` it still produces output:
[code]
Is anything missing

[2021-06-25 21:44] effleurager commented on #263
If your bundle specifies a version of rufo that's different from the one installed in the rbenv environment, it may have differences in formatting. What versions are in the bundle and in your rbenv environment?

[2021-06-29 13:48] sevenc-nanashi opened #264 "chaining block with argument crushes rufo"
[code]
It crushes rufo with this traceback:
[code]

[2021-06-29 13:49] sevenc-nanashi commented on #264
Note: It won't happen with:
[code]

[2021-08-07 14:11] joshunger opened #266 "syntax error, unexpected end-of-input on erb"
[code]

![image](https://user-images.githubusercontent.com/2301847/128603064-9bb4eee5-3878-4d73-bbec-1ab92b0cddca.png)

[2021-08-12 09:24] effleurager commented on #266
Might be the errant space in there, is this still an issue if you replace it with `LocationService::LANGUAGE_REGION_CODES_WITH_ENGLISH`?

[2021-08-12 11:45] joshunger commented on #266
@effleurager the issue still exists if I remove the space

[2021-08-12 11:48] effleurager commented on #266
Can you send the full block for that if-statement?

[2021-08-12 11:58] joshunger commented on #266
@effleurager does this work?

[code]

[2021-08-12 12:24] effleurager commented on #266
That give a syntax error on line 2.
The following does work:
[code]

[2021-08-13 08:50] joshunger commented on #266
@effleurager thanks for the workaround but isn't the code I pasted valid too?

[2021-08-13 12:15] effleurager commented on #266
Just checked, it actually is a workaround. The problem lies in Ripper requiring the block and if statements to be completed with `end`. That requires taking adding `\nend` twice as a code wrapper in https://github.com/ruby-formatter/rufo/blob/b3f3aedf759d792761ad52e6bddb9ed51ffc6731/lib/rufo/erb_formatter.rb#L107. While entirely possible to hack a fix together, it'd be better to figure out the req

[2021-08-24 05:03] sevenc-nanashi opened #268 "Partial argument forwarding crushes rufo."
[code]

[code]

[2021-11-08 12:30] JosefuMealsom opened #271 "Error formatting endless method definitions"
Seems to be an error with formatting endless method definitions in ruby as outlined here: https://rubyreferences.github.io/rubychanges/3.0.html#endless-method-definition

Example code:

[code]

[code]

[2021-11-11 20:37] #266 closed

[2021-11-11 20:39] joshunger commented on #266
@effleurager @gingermusketeer thank you.

[2021-11-11 20:42] gingermusketeer commented on #271
PRs are welcome for this, I am not using Ruby for my daily work anymore so won't have time to fix it sorry

[2021-11-11 20:44] gingermusketeer opened #272 "Looking for maintainers"
Hi all,

I am no longer using Ruby for my daily work so I won't have time to actively maintain this gem any longer.  Is there anyone that would like to take over?

[2021-11-12 07:55] #268 closed

[2021-11-15 13:34] JosefuMealsom commented on #271
@gingermusketeer thats cool. I've found the issue, but fitting that into the current code might take a little work. Would you be available to review the changes?

[2021-11-15 18:09] gingermusketeer commented on #271
@JosefuMealsom Yep I can take a look :)

[2022-05-13 02:35] NewAlexandria commented on #121
Sometimes humans format things better (*without complex formatting engines).  I'd think this is a case for a flag that ignores a block or file.  I'm hoping this gem supports that

[2022-07-20 07:31] tnir commented on #272
@gingermusketeer How about adding wanted on https://rubygems.org/ownership_calls?

[2022-08-02 11:24] cdimitroulas opened #275 "Quote style single not respected in ERB file"
A simple `.html.erb` file l am testing with:
[code]

With this `.rufo` file in the project folder:
[code]

**Expected behaviour**
Line 2 (`<%= link_to 'Something', some_path(@something) %>`) should remain unedited.

**Actual behaviour**
The `'Something'` string is changed to `"Something"` when I run `rufo test.html.erb` in the CLI.

[2022-08-29 14:31] josbraaksma opened #277 "formatter.rb:1286:in `visit_command_args': undefined method `[]' for nil:NilClass (NoMethodError)"
formatter.rb:1286:in `visit_command_args': undefined method `[]' for nil:NilClass (NoMethodError)

on code
[code]

traceback
[code]

[2022-09-15 02:58] dogweather commented on #253
I landed here because of this issue. It looks like Rufo can't really be used when there are Sorbet annotations. E.g., here's an example of Rufo-formatted code:

[code]

Maybe the logic for fixing this could be simpler if there was a `using_sorbet` configuration option? Not a style setting per se; just a flag to be less opinionated about vertical spacing.

[2022-11-24 04:18] laptopmutia commented on #122
can I change it at least to indent mode?

I mean currently the public private protected are like this

[code]

  and I want it to be like this

[code]

  because it is what it comes with rails generator and I find it easier to read that way